@keyframes checked {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes checkedInput {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes checkboxAdded {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes dropped {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
