.attribution {
  font-size: 11px;
  text-align: center;
  width: 100%;
  color: var(--dark-grayish);
  margin-bottom: 20px;

  .raf {
    color: var(--primary-blue);
  }
}

.attribution a {
  color: var(--dark-grayish);
}

.instructions {
  width: 100%;
  text-align: center;

  h3 {
    color: var(--dark-grayish);
    font-size: 0.7rem;
    font-weight: 700;
  }
}
