.todos-wrapper {
  width: 100%;
  background-color: var(--very-light-grayish);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
