.todos-wrapper {
  width: 100%;
  background-color: var(--primary-light);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  transition: all 0.5s ease-in-out;
}
