.todos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: baseline;
  list-style: none;
  transition: box-shadow 0.5s ease-in-out;

  .todo {
    min-height: 65px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--very-light-grayish);
    padding: 20px;
    background: var(--primary-light);
    transition: box-shadow 0.5s ease-in-out;

    .todo-name,
    h3 {
      pointer-events: none;
      width: 90%;
      padding: 5px 10px;
      font-size: 1.1em;
      font-weight: 400;
      color: var(--vary-dark-grayish);
      background-color: transparent;
      font-family: 'Josefin Sans', sans-serif;
    }

    .cross-icon {
      cursor: pointer;
    }
  }

  .checked ~ .todo-name {
    text-decoration: line-through;
    color: var(--very-light-grayish);
  }
}

.drag {
  box-shadow: 0px 0px 20px 0px var(--light-grayish);
}

.dropped {
  box-shadow: 0px 0px 0px 0px var(--light-grayish);
}

.dragging-over {
  box-shadow: 0px 0px 20px 0px var(--light-grayish);
}
