:root {
  --primary-blue: hsl(220, 98%, 61%);
}

html[data-theme='light'] {
  --gradient-bg: linear-gradient(
    90deg,
    rgba(71, 218, 255, 1) 0%,
    rgba(192, 88, 243, 1) 100%
  );
  --primary-light: hsl(0, 0%, 98%);
  --very-light-grayish: hsl(236, 33%, 92%);
  --light-grayish: hsl(233, 11%, 84%);
  --dark-grayish: hsl(236, 9%, 61%);
  --very-dark-grayish: hsl(235, 19%, 35%);
}

html[data-theme='dark'] {
  --gradient-bg: linear-gradient(
    90deg,
    rgba(192, 88, 243, 1) 100%,
    rgba(71, 218, 255, 1) 0%
  );
  --primary-light: hsl(235, 21%, 11%);
  --very-light-grayish: hsl(235, 24%, 19%);
  --light-grayish: hsl(234, 39%, 85%);
  --light-grayish-hover: hsl(236, 33%, 92%);
  --dark-grayish: hsl(234, 11%, 52%);
  --very-dark-grayish: hsl(233, 14%, 35%);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
}

body .app {
  width: 100%;
}

@-webkit-keyframes checked {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes checked {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
}

@-webkit-keyframes checkedInput {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes checkedInput {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
}

@-webkit-keyframes checkboxAdded {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes checkboxAdded {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

main {
  width: 100%;
  position: absolute;
  bottom: 50%;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header {
  width: 100%;
  height: 30%;
  background: var(--gradient-bg) no-repeat fixed top;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.todoCont {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.todo--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.todo--top .title {
  font-size: 2.5em;
  font-weight: 700;
  letter-spacing: 15px;
  color: #fff;
  line-height: 1.5;
}

.todo--top .theme-switch {
  cursor: pointer;
}

.todo--create-new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
  height: 3.5em;
  border-radius: 5px;
  background-color: var(--primary-light);
  padding: 0 20px;
  overflow: hidden;
}

.todo--create-new .checked {
  -webkit-animation: checked 1s forwards;
          animation: checked 1s forwards;
}

.todo--create-new .create-new-input {
  height: 100%;
  width: 80%;
  padding: 5px 10px;
  border: none;
  font-size: 1.2em;
  background-color: transparent;
  font-family: 'Josefin Sans', sans-serif;
}

.todo--create-new .create-new-input:focus {
  outline: none;
}

.todos-wrapper {
  width: 100%;
  background-color: var(--primary-light);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.todos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  list-style: none;
}

.todos .todo {
  height: 65px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  border-bottom: 1px solid var(--very-light-grayish);
  padding: 20px;
}

.todos .todo .todo-name,
.todos .todo h3 {
  width: 90%;
  padding: 5px 10px;
  font-size: 1.1em;
  font-weight: 400;
  color: var(--vary-dark-grayish);
  background-color: transparent;
  font-family: 'Josefin Sans', sans-serif;
}

.todos .todo .cross-icon {
  cursor: pointer;
}

.todos .checked ~ .todo-name {
  text-decoration: line-through;
  color: var(--very-light-grayish);
}

.checkbox {
  height: 25px;
  width: 25px;
  margin-right: 20px;
  cursor: pointer;
  border: 2px solid var(--light-grayish);
  background-color: transparent;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkbox:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)) padding-box, var(--gradient-bg) border-box;
  background: linear-gradient(#fff, #fff) padding-box, var(--gradient-bg) border-box;
  border: 2px solid transparent;
}

.checkbox img {
  width: 15px;
  height: 15px;
}

.checked {
  background: var(--gradient-bg) border-box;
  border: 2px solid transparent;
}

.checked:hover {
  background: var(--gradient-bg) border-box;
  border: 2px solid transparent;
  opacity: 0.7;
}

.checkedInput {
  -webkit-animation: checkedInput 1s forwards;
          animation: checkedInput 1s forwards;
}

.status {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.status .items-left,
.status .clear-completed {
  font-size: 0.85em;
  color: var(--dark-grayish);
  font-weight: 400;
}

.status .clear-completed {
  cursor: pointer;
  color: red;
}

.status .clear-completed:hover {
  color: var(--very-dark-grayish);
}

.status .inactive {
  color: var(--light-grayish);
  cursor: not-allowed;
}

.status .inactive:hover {
  color: var(--light-grayish) !important;
}

.status .filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.status .filters .filter {
  font-size: 0.85em;
  color: var(--dark-grayish);
  font-weight: 700;
  cursor: pointer;
}

.status .filters .filter:hover {
  color: var(--very-dark-grayish);
}

.status .filters .active {
  color: var(--primary-blue);
}

.status .filters .active:hover {
  color: var(--primary-blue);
}

.status .filters .inactive {
  color: var(--light-grayish);
  cursor: not-allowed;
}
