:root {
  --primary-blue: hsl(220, 98%, 61%);
}

html[data-theme='light'] {
  --gradient-bg: linear-gradient(
    90deg,
    rgba(71, 218, 255, 1) 0%,
    rgba(192, 88, 243, 1) 100%
  );
  --primary-light: hsl(0, 0%, 98%);
  --very-light-grayish: hsl(236, 33%, 92%);
  --light-grayish: hsl(233, 11%, 84%);
  --dark-grayish: hsl(236, 9%, 61%);
  --very-dark-grayish: hsl(235, 19%, 35%);
}

html[data-theme='dark'] {
  --gradient-bg: linear-gradient(
    90deg,
    rgba(192, 88, 243, 1) 100%,
    rgba(71, 218, 255, 1) 0%
  );
  --primary-light: hsl(235, 21%, 11%);
  --very-light-grayish: hsl(235, 24%, 19%);
  --light-grayish: hsl(234, 39%, 85%);
  --light-grayish-hover: hsl(236, 33%, 92%);
  --dark-grayish: hsl(234, 11%, 52%);
  --very-dark-grayish: hsl(233, 14%, 35%);
}
